body {
    background-color: rgb(215, 228, 255);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
    background-color: rgb(5, 5, 99);
    top: 0%;
    padding: 20px;
    color: white;
}

.name_table {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
    color: rgb(5, 5, 99);
    font-size: 25px;
}


table {
  text-align: center;
  margin: 0 auto;
  border: 2px solid #080a55;
}

.left {
    width: 150px;
    text-align: center;
  }

th {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

td {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
    background-color: rgb(5, 5, 99);
    bottom: 0%;
    color: white;
    font-size: 10px;
}

html {
    height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    min-height: 100%;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

